body {
  background-color: black;
  height: 80vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  text-align: center;
}
h1 {
  color: white;
  font-size: 40px;
}
p {
  color: white;
}
a {
  margin-top: 40px;
  text-decoration: none;
  background: linear-gradient(
    111.4deg,
    rgb(2, 255, 4) 18.4%,
    rgb(0, 232, 237) 100.2%
  );
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
}
a:hover {
  background: linear-gradient(
    111.4deg,
    rgb(2, 255, 4) 18.4%,
    rgb(0, 232, 237) 100.2%
  );
  padding: 10px 20px;
  border-radius: 10px;
}
